{{ ansible_managed | comment }}
## https://wiki.ubuntu.com/Debug%20Symbol%20Packages
deb http://ddebs.ubuntu.com {{ ansible_distribution_release|lower }} main restricted universe multiverse
deb http://ddebs.ubuntu.com {{ ansible_distribution_release|lower }}-updates main restricted universe multiverse
deb http://ddebs.ubuntu.com {{ ansible_distribution_release|lower }}-proposed main restricted universe multiverse
